.nav {
    height: 90px;
    width: 100%;
    margin: 0px;
    min-width: 100%;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.content {
    background-color: rgb(238, 238, 255);
    height: 100vh;
}

.panel {
    height: 100vh;
}

.wrapper {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.content-name {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px rgb(221, 218, 218);
    width: 100%;
    background-color: white;
    padding: 50px;
}

.view-wrapper {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 90%;
    min-height: 83%;
}

.content-name {
    background-color: white;
    margin: 20px;
    padding: 5px;
}

.container {
    background-color: white;
    margin: 20px 0px;
    padding: 5px;
    height: 100%;
    border-bottom: solid 1px rgb(221, 218, 218);
    min-height: 60px;
}

.transparente {
    background-color: transparent;
}

.margin-top-trinta {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-top-dez {
    margin-top: 10px;
}

.content-form {
    width: 100%;
    margin: 0 auto;
}



.table {
    width: 100%;
    min-width: 700px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: end;
    align-items: center;
}