* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: rgb(238, 238, 255);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

*, button, input {
  border: 0;
  background: none;
  font-family: 'Montserrat', -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}